/*** Responsive Styles Large Desktop And Above ***/
@media all and (min-width: 1405px) {
	.webforms{
		width: 50%;
	}  
}
 
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) 
	.webforms{
		width: 35%;
	}   
}
 
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
	.webforms{
		width: 45%;
	}   
}
 
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
	.webforms{
		width: 80%;
	}   
}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
	.webforms{
		width: 100%;
	}   
}
 
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
	.webforms{
		width: 100%;
	}   
}
